<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <!--<configSections>
    <sectionGroup name="system.web">
      <section name="sanitizer" requirePermission="false"
               type="AjaxControlToolkit.Sanitizer.ProviderSanitizerSection, AjaxControlToolkit" />
    </sectionGroup>
  </configSections>-->

 
	<appSettings>
		<add key="ChartImageHandler" value="storage=file;timeout=20;dir=f:\inetpub\wwwroot\temp\" />
		<add key="PMCOE_AppID" value="151" />
	</appSettings>
	<connectionStrings>
		<add name="ETCSDSQL325_CCE_SC_OPEXModel" connectionString="Server=ETCSDSQL325.na.cokecce.dev; Database=CCE_SC_OPEXModel; User Id=_web_reporting; password=325xclvm09u34vmwevsatk; Connect Timeout=5" providerName="System.Data.SqlClient" />
		<add name="ETCSPSQL140_SCORECARDS" connectionString="Server=ETCSPSQL140.na.cokecce.com; Database=SCORECARDS; User Id=_web_reporting; password=140fv54rdgih340tgu9o23; Connect Timeout=5" providerName="System.Data.SqlClient" />
		<add name="ETCSPSQL140_CCE_SC_OPEXModel" connectionString="Server=ETCSPSQL140.na.cokecce.com; Database=CCE_SC_OPEXModel; User Id=_web_reporting; password=140fv54rdgih340tgu9o23; Connect Timeout=5" providerName="System.Data.SqlClient" />
		<add name="ETCBPSQL149_MASTER_DATA" connectionString="Server=ETCBPSQL149.na.cokecce.com; Database=MASTER_DATA; User Id=_web_reporting; password=149kalcw3jm4rs023cfg94; Connect Timeout=5" providerName="System.Data.SqlClient" />
		<add name="ETCBPSQL149_PI" connectionString="Server=ETCBPSQL149.na.cokecce.com; Database=PI; User Id=_web_reporting; password=149kalcw3jm4rs023cfg94; Connect Timeout=5" providerName="System.Data.SqlClient" />
		<add name="ETCBPSQL149_PRODUCTIVITY" connectionString="Server=ETCBPSQL149.na.cokecce.com; Database=PRODUCTIVITY; User Id=_web_reporting; password=149kalcw3jm4rs023cfg94; Connect Timeout=5" providerName="System.Data.SqlClient" />
		<add name="ETCBPSQL149_CUSTOMER_SERVICE" connectionString="Server=ETCBPSQL149.na.cokecce.com; Database=CUSTOMER_SERVICE; User Id=_web_reporting; password=149kalcw3jm4rs023cfg94; Connect Timeout=99999" providerName="System.Data.SqlClient" />
		<add name="ETCBPSQL149_FINANCIALS" connectionString="Server=ETCBPSQL149.na.cokecce.com; Database=FINANCIALS; User Id=_web_reporting; password=149kalcw3jm4rs023cfg94; Connect Timeout=5" providerName="System.Data.SqlClient" />
		<add name="ETCBQPSS201_COE" connectionString="Data Source=ETCBQPSS201;Initial Catalog=COE;User Id=_web_reporting;password=201pU8z4gXE5pgnLJ0rbSE" providerName="System.Data.SqlClient" />
		<add name="ETCCOPSS102_COE" connectionString="Data Source=ETCCOPSS102;Initial Catalog=COE;User Id=_web_reporting;password=102zC6f0WQguLlkEtwkHCB" providerName="System.Data.SqlClient" />
	</connectionStrings>
  <system.webServer>
    <validation validateIntegratedModeConfiguration="false"/>
    <handlers>
      <add name="AjaxFileUploadHandler" verb="*" path="AjaxFileUploadHandler.axd" type="AjaxControlToolkit.AjaxFileUploadHandler, AjaxControlToolkit"/>
    </handlers>
    <security>
      <requestFiltering>
        <requestLimits maxAllowedContentLength="4294967295"/>
      </requestFiltering>
    </security>
  </system.webServer>

 
 
	<system.web>
    
		<pages clientIDMode="AutoID"><controls>
        <add tagPrefix="ajaxToolkit" assembly="AjaxControlToolkit" namespace="AjaxControlToolkit" />
      </controls></pages>
		<httpRuntime maxRequestLength="20480" />
		<customErrors mode="Off" />
		<compilation debug="true" targetFramework="4.0" />
    
		<httpHandlers>
			<add path="ChartImg.axd" verb="GET,HEAD" type="System.Web.UI.DataVisualization.Charting.ChartHttpHandler, System.Web.DataVisualization, Version=3.5.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" validate="false" />
      
    </httpHandlers>
    <!--<sanitizer defaultProvider="HtmlAgilityPackSanitizerProvider">
      <providers>
        <add name="HtmlAgilityPackSanitizerProvider"
             type="AjaxControlToolkit.Sanitizer.HtmlAgilityPackSanitizerProvider"></add>
      </providers>
    </sanitizer>-->
</system.web>
  
</configuration>
